body{
  	background-image:url(background.jpg);
  	background-position-x: center;
  	-moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;

       margin: 0px;

}
.hat{
   width:50% ;
   height:80px;
   background-color:none;
   z-index:1000 ;
   position: absolute;
   top: 0;

   text-align: center;
   margin-left:24.3%;
}

a{
 	font-size: 28px;
 	color: black;
 	text-decoration: none;
 	margin: 25px;
 	display: inline-block;
 	font-family: Calibri;
text-align: center;
 }
 .name{
 	width:250px;
height:80px;
   background-color:none ;
   float: right;
   opacity: 100%;
 }

 .block1{
width:240px;
height:27px;

   margin: 100px auto;
   opacity: 100%;



 }
 .name1{
  font-size: 17px;
  color:white;
  text-align: center;
    font-family: Calibri;
  opacity: 100%;
 }

 .block2{
  width:350px;
  height:120px;
   background-color:none;
   margin: 0px auto;
   opacity: 100%;
 }
 .text1{
  font-size:45px;
  color:black;
  text-align: center;
    font-family: Calibri;
}



.text2{
  font-size:30px;
  color:black;
  text-align: center;
  margin-top: -50px;
  font-family: Calibri;
}
.block3{
  width:230px;
  height:45px;

   background-color:#00CED1;
   margin: 0px auto;
   border-radius: 35px;
}
.text3{
 font-size:23px;
  color:white;

  text-align: center;
    font-family: Calibri;
}
.block4{
  width:370px;
  height:35px;
   background-color:#008B8B;
   margin: 0px auto;
   border-radius: 15px;
}
.text4{
  font-size:20px;
  color:white;
  text-align: center;
    font-family: Calibri;
}
.block5{
  width:370px;
  height:180px;
   background-color:#5F9EA0;
   margin: 0px auto;
   margin-top: 15px;
   border-radius: 15px;
}


.block6{
  width:100px;
  height:50px;
   background-color:#008B8B;
   border-radius: 10px;

}
.text6{
  font-size:20px;
  color:white;
  text-align: center;
    font-family: Calibri;

}
.block7{
  width:100px;
  height:50px;
   background-color:#008B8B;
   border-radius: 10px;
   margin: 0px auto;
   margin-top: -72px;
}
.text7{
 font-size:20px;
  color:white;
  text-align: center;
    font-family: Calibri;
}
.block8{
  width:100px;
  height:50px;
   background-color:#008B8B;
   border-radius: 10px;
 float: right;
   margin-top: -50px;
}
.text8{
 font-size:20px;
  color:white;
  text-align: center;
    font-family: Calibri;
    margin-top: -2px;
}
.block9{
  width:100px;
  height:50px;
   background-color:#008B8B;
   border-radius: 10px;
 float: left;
   margin-top: 5px;
}
.text9{
 font-size:20px;
  color:white;
  text-align: center;
    font-family: Calibri;
    margin-top: -2px;
}
.block10{
  width:230px;
  height:50px;
   background-color:#008B8B;
   border-radius: 15px;
float: right;
   margin-top: 5px;
}
.text10{
 font-size:20px;
  color:white;
    font-family: Calibri;
    margin-top: -2px;
    margin-top: 10px
}
.block11{
  width:80px;
  height:40px;
   background-color:#008B8B;
   border-radius: 20px;
   float: right;
   margin-top: 10px;
}
.text11{
 font-size:20px;
  color:#fff;
    font-family: Calibri;
text-align: center;
margin-top: 6px;
}
.photo{
margin-left: -40px;
}