{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>about us</title>
	<link rel="stylesheet" href="{% static 'main/css/AboutUs.css' %}">
</head>
<body>
	<div class="hat">
			<a href="/">Главная</a>
		    <a href="/tops">Топы</a>
			<a href="/about_us">О нас</a>
			<a href="https://vk.com/club199075475">Форум</a>
			<a href="">Отзывы</a>


<div class="block1">

<div class="block2">
	<p class="text1">О нас</p>
	<p class="text2">Мы команда AniCharity. Наша задача помочь
Бездомным животным и животным в приютах. Мы выделили проблему в том что люди не доверяют разным фондам, поэтому решили их объединить. Если вы хотите пожертвовать деньги на помощь животным и сделать доброе дело, то пререходите на главную страницу, там указан номер для пожертвований.</p>
	
</div>	

</div>

</div>
</body>
</html>


	
















</body>
</html>

